
        <div class="row">
            <div class="col-md-12 image-brand-container" style="margin-bottom: 15px;">
                <img  ng-src="{{ model.imageCar }}"/>
            </div>
            <div class="col-sm-12 panel-group tab-content-custom">
                <button ng-click="switchPictures()" class="btn btn-info btn-sm">{{ nameButtonInterior }}</button>
            </div>
        </div>
        <div ng-repeat="brand in model.reviewsBrand track by $index">

                <li class="tab-content-custom">
                    {{  $index + 1 }}. {{ brand }}
                </li>
            </br>

        </div>

        <div>
            </br>

            <li class="tab-content-custom">
                    {{ model.reviewsBrand.length + 1}}. {{ bodyNewReview }}
            </li>
        </div>

            <button  ng-click="showFormReview()">{{ nameButtonReview }}
            </button>
