

<div class="container" ng-controller="ModelDetailsController">
    <div class="jumbotron" >
        <div class="row">
            <div class="col-md-8">
                <p>Model: {{ model.nameModel }}</p>
                <ul class="nav nav-tabs " style="margin-bottom: 21px;">
                    <li class="active"><a href="#reviews" target="_self" data-toggle="tab">Reviews</a></li>
                    <li><a href="#more-info" target="_self" data-toggle="tab">More Information</a></li>
                </ul>

                <!--------------------------------------TABS-CONTAINER-REVIEWS----------------------------------------->

                <div id="myTab" class="tab-content panel panel-default ">
                    <div class="tab-pane fade active in " id="reviews" >


                        <container-review></container-review>

                        <my-form></my-form>
                    </div>

                <!---------------------------------------------TAB-CONTAINER-INFO-------------------------------------->

                    <div class="tab-pane fade tab-content-custom" id="more-info">
                         <div debug class="panel-body">
                            <container-info ></container-info>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






